<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BankApp.Properties.Settings.BankAppDatabaseConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\BankAppDatabase.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<appSettings>
		<add key="host" value="smtp.gmail.com" />
		<add key="port" value="587" />
		<add key="from" value="piezerelmarian1@gmail.com" />
		<add key="password" value="zzsf qpuj hrlt wdjj" />
	</appSettings>

	<!-- system.net must NOT be inside appSettings -->
	<system.net>
		<mailSettings>
			<smtp from="piezerelmarian1@gmail.com">
				<network host="smtp.gmail.com"
       port="587"
       userName="piezerelmarian1@gmail.com"
       password="zzsf qpuj hrlt wdjj"
       enableSsl="false" />
			</smtp>
		</mailSettings>
	</system.net>
</configuration>